html,
body,
* {
  padding: 0;
  margin: 3rem;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #ccbcac;
}
.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topic {
  font-size: 4.75rem;
  text-align: center;
  background-color: white;
  font-family: "Amatic SC", cursive;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.box {
  background-color: white;
  box-shadow: 1.5rem 1.5rem #8a7e72;
  border-radius: 1rem;
  transition: all 0.3s;
}
.box:hover {
  transform: scale(1.07);
  box-shadow: 1.5rem 1.5rem rgb(42, 42, 42);
}
.box img {
  width: 20vw;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.play {
  margin-top: 0;
}
p {
  text-align: center;
  background-color: white;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 3.5rem;
  font-family: "Amatic SC", cursive;
}
