html,
body,
* {
  padding: 0;
  margin: 50;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #faf1e6;
}
.parent {
  display: flex;
  justify-content: space-around;
}
.topic {
  font-size: 3rem;
  text-align: center;
}
.box {
  border: 3px solid black;
}
.box img {
  width: 400px;
}
