html,
body,
* {
  padding: 0;
  margin: 50;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #bdd2b6;
}
.parent {
  display: flex;
  justify-content: space-around;
}
.topic {
  font-size: 4.5rem;
  text-align: center;
  background-color: white;
  font-family: "Satisfy", cursive;
}
.box {
  background-color: white;
}
.box img {
  width: 20vw;
}
